body {
	background-image: url(../images/jigsaw.jpg);
	background-size: 1440px 1000px;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    text-align: center;
    color: #0e3e6d;
    background: #ffc107;
    padding: 20px;
}

p,
div {
    font-family: 'Rokkitt', serif;
}

form {
    padding-left: 50px;
}

#timerGoDown,
#timer {
    text-align: center;
}