body {
  background-image: url(../images/abstract_background_technology.jpg);
  margin-bottom: 40px;
}

h1 {
  font-family: "Bungee Outline", cursive;
  text-align: center;
  color: #3e0208;
  background: #13dfed;
  padding: 20px;
}

p,
div {
  font-family: "Rokkitt", serif;
}

form {
  padding-left: 70px;
}

button {
  padding: 0.5em 2em;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: "Rokkitt", serif;
  font-size: 16px;
  background-color: #7fccde;
  box-shadow: 0 0 0 1px #7fccde inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(102, 164, 178, 0.6), 0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: 0 0 0 1px #7fccde inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.timeGoDown,
.results {
  text-align: center;
  font-size: 30px;
  color: #15439e;
  padding: 10px;
}

#start {
  display: block;
  margin: auto;
}
